<h2><%= Comment.model_name.human %><h2>

<table>
  <thead>
    <tr>
      <th><%= Comment.human_attribute_name(:body) %></th>
      <th><%= Comment.human_attribute_name(:user_name) %></th>
      <th><%= Comment.human_attribute_name(:updated_date) %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <% unless comment.user.name.empty? %>
          <td><%= comment.user.name %></td>
        <% else %>
          <td><%= comment.user.email %></td>
        <% end %>
        <td><%= l comment.updated_at %></td>
        <% if comment.user == current_user %>
          <% if comment.content_type == 'Report' %>
            <td><%= link_to t('views.common.destroy'), report_comments_path(report_id: content.id, id: comment.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
          <% elsif comment.content_type == 'Book' %>
            <td><%= link_to t('views.common.destroy'), book_comments_path(book_id: content.id, id: comment.id), method: :delete, data: { confirm: t('views.common.delete_confirm') } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
