<h1>User</h1>

<table>
  <thead>
    <tr>
      <th>email</th>
      <th>self introduction</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.self_introduction %></td>
        <td><%= link_to "詳細表示", users_show_path(user) %></td>
        <td><%= link_to"編集", edit_user_registration_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
