<h1>Users#show</h1>
<p>
  <strong>email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>self introduction</strong>
  <%= @user.self_introduction %>
</p>

<p>
  <strong>post code</strong>
  <%= @user.post_code %>
</p>

<p>
  <strong>address</strong>
  <%= @user.address %>
</p>

<%= link_to 'edit', edit_user_registration_path(@user) %> |
<%= link_to 'back', users_path %>
