<h1><%= t('views.common.title_show', name: Book.model_name.human) %></h1>

<p>
  <strong><%= Book.human_attribute_name(:title) %>:</strong>
  <%= @book.title %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:memo) %>:</strong>
  <%= @book.memo %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:author) %>:</strong>
  <%= @book.author %>
</p>

<p>
  <strong><%= Book.human_attribute_name(:picture) %>:</strong>
  <%= image_tag(@book.picture_url) if @book.picture.present? %>
</p>

<%= link_to t('views.common.edit'), edit_book_path(@book) %> |
<%= link_to t('views.common.back'), books_path %>

<h2>Comment<h2>

<table>
  <thead>
    <th>Comment</th>
    <th>User Name</th>
    <th>Date</th>
    <th colspan="2"></th>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <td><%= l comment.updated_at %></td>
        <td>update_link</td>
        <td>destroy_link</td>
      </tr>
    <% end %>
  </tbody>
</table>
